.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size; //put some space between header and things below it
  padding: $m-size 0; //1.6 on the top and bottom and 0 on the left and right
}
//BEM Block Element modifier
.header__title {
  margin: 0;
}

.header__title {
  font-size: $l-size;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500; //thickness of the font
  margin: 0;
}